@charset "utf-8";

/* CSS Document */

body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd,
input {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: "Microsoft YaHei", 微软雅黑, "arial";
}

img {
    border: none;
}

li {
    list-style: none;
}

input,
select,
textarea {
    outline: none;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}


/*清浮动*/

.clearfix:after {
    content: "";
    display: block;
    clear: both
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    visibility: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.wrap {
    width: 100%;
    margin: 0 auto;
}

.title {
    padding-top: 50px;
}

.title img {
    width: 100%
}


/*head*/

.head {
    height: 86px;
}

.head .logo {
    margin-top: 19px;
    float: left;
}

.head .nav {
    float: right;
}

.head .nav ul li {
    float: left;
    line-height: 84px;
    padding: 0 20px;
}

.head .nav ul li a {
    font-size: 16px;
    color: #333;
}

.head .nav ul li a.active {
    border-bottom: 2px solid #00629b;
    padding-bottom: 10px;
}

.head .nav ul li a.active:hover {
    border-bottom: 2px solid #00629b;
    padding-bottom: 10px;
}

.head .nav ul li a:hover {
    border-bottom: 2px solid #ed832d;
    padding-bottom: 10px;
}


/*banner*/

.banner {
    width: 100%;
    min-width: 1200px;
}

.flexslider {
    position: relative;
    background: url(../images/loading.gif) no-repeat 50% 50%;
    height: 500px;
    overflow: hidden;
}

.slides {
    z-index: 1;
    position: relative;
}

.slides li {
    height: 500px;
}

.flex-control-nav {
    z-index: 2;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    /*background: url(../images/banlibg.png);*/
    height: 48px;
    padding-top: 30px;
}

.flex-control-nav li {
    margin: 0px 5px;
    width: 14px;
    zoom: 1;
    display: inline-block;
    height: 14px;
}

.flex-control-nav a {
    line-height: 40px;
    width: 14px;
    display: inline-block;
    background: url(../images/dot.png) no-repeat right 0px;
    height: 14px;
    overflow: hidden;
    cursor: pointer;
}

.flex-control-nav .flex-active {
    background-position: 0px 0px;
}

.flex-direction-nav {
    z-index: 3;
    position: absolute;
    width: 100%;
    top: 45%;
}

.flex-direction-nav li a {
    position: absolute;
    width: 50px;
    display: block;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
}


/*case*/

.case {
    width: 100%;
}

.case .cmore {
    float: right;
    margin-top: 10px;
}

.case .cases {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cases ul li {
    width: 360px;
    float: left;
    display: inline;
    overflow: hidden;
    position: relative;
    margin-right: 60px;
    margin-bottom: 10px;
}

.cases ul li.casesn {
    margin-right: 0;
}

.cases ul li h2 {
    font-size: 16px;
    color: #333;
    line-height: 36px;
    font-weight: normal;
    text-align: center;
}

.cases ul li .photo {
    width: 360px;
    height: 230px;
    overflow: hidden;
}

.cases ul li .photo img {
    border: 2px solid #e0e0e0;
}

.case .text {
    position: absolute;
    width: 360px;
    height: 230px;
    left: -360px;
    top: 0px;
    overflow: hidden;
    background: #0b47c0;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
}

.case .text h3 {
    width: 360px;
    margin-top: 70px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
}

.case .text a {
    text-decoration: none
}

.case .text div {
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
}


/*brand*/

.brand {
    background: url(../images/brand-bg.jpg) no-repeat center top;
    /*background-size:100%;*/
    width: 100%;
    height: 630px;
    min-width: 1200px;
}

.brand .brand-l {
    float: left;
    margin-top: 20px;
}

.brand .brand-l .b1 {
    width: 600px;
    color: #fff;
    margin-bottom: 20px;
}

.brand .brand-l dl dt {
    font-size: 18px;
    padding-left: 34px;
    line-height: 30px;
}

.brand .brand-l dl dt.bi1 {
    background: url(../images/icon1.png) no-repeat left center;
}

.brand .brand-l dl dt.bi2 {
    background: url(../images/icon2.png) no-repeat left center;
}

.brand .brand-l dl dt.bi3 {
    background: url(../images/icon3.png) no-repeat left center;
}

.brand .brand-l dl dd {
    padding-left: 34px;
    width: 560px;
    overflow: hidden;
    display: block;
    font-size: 14px;
    line-height: 30px;
}

.brand .brand-r {
    float: right;
    margin-top: 40px;
}


/*application*/

.application {
    height: 580px;
}

.application .area {
    margin-top: 40px;
}

.application ul li {
    width: 178px;
    height: 178px;
    border: 1px solid #e0e0e0;
    text-align: center;
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
}

.application ul li:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
}

.application ul li.arean {
    margin-right: 0;
}

.application ul li img {
    margin-top: 24px;
    height: 92px;
}

.application ul li p {
    font-size: 20px;
    color: #666;
    line-height: 44px;
}


/*contact us*/

.contact {
    background: #e9f0f3;
    height: 425px;
    min-width: 1200px;
}

.contact .contact-l {
    float: left;
    margin-top: 40px;
}

.contact .contact-l table {
    line-height: 28px;
    font-size: 14px;
}

.contact .contact-l table .textinfo {
    font-size: 16px;
}

.contact .contact-l table tr td {
    padding-left: 24px;
}

.contact .contact-l table tr td.line1 {
    width: 120px;
}

.contact .contact-l table tr td.line2 {
    width: 110px;
}

.contact .contact-l table tr td.line3 {
    width: 150px;
}

.contact .contact-l table tr td.line4 {
    width: 280px;
}

.contact .contact-l table tr td.c1 {
    background: url(../images/icon4.png) no-repeat left center;
}

.contact .contact-l table tr td.c2 {
    background: url(../images/icon5.png) no-repeat left center;
}

.contact .contact-l table tr td.c3 {
    background: url(../images/icon6.png) no-repeat left center;
}

.contact .contact-l table tr td.c4 {
    background: url(../images/icon7.png) no-repeat left center;
}

.contact .contact-r {
    width: 300px;
    height: 210px;
    background: url(../images/contact-r-bg.png) no-repeat bottom center;
    float: right;
    margin-top: 40px;
    text-align: center;
}

.contact .contact-r .ewm {
    text-align: center;
}

.contact .contact-r h3 {
    font-size: 16px;
    color: #0c0c0c;
    line-height: 36px;
}

.contact .contact-r p {
    font-size: 14px;
    color: #4c4c4c;
    line-height: 30px;
}


/*footer*/

.footer {
    height: 80px;
    background: #1d242a;
    min-width: 1200px;
}

.footer .f-logo {
    padding-top: 20px;
    margin-left: 30px;
    float: left;
}

.footer .f-c {
    float: right;
    color: #b2b2b2;
    padding-top: 14px;
}

.footer .f-c p {
    line-height: 24px;
}

.footer .f-c p span {
    padding-left: 20px;
}


/*分页*/

.bs-example {
    padding-top: 20px;
}

.bs-example nav {
    text-align: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px auto;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 20px;
    margin-left: -1px;
    line-height: 20px;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #00629b;
    border-color: #00629b;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.pagination>li>a:hover {
    background: #e0e0e0;
}

.CoreBusinesstitle {
    width: 100%;
}

.CoreBusinesstitle h3 {
    line-height: 36px;
    text-align: center;
    font-size: 26px;
    color: #3598db;
    padding: 25px 0px 15px;
    font-weight: normal;
    font-family: "微软雅黑";
}

.CoreBusinesstitle h3 a {
    color: #3598db;
}

.CoreBusinesstitle p {
    background: #dadada;
    height: 1px;
    overflow: hidden;
    line-height: 0px;
}

.CoreBusinesstitle p span {
    margin: 0px auto;
    display: block;
    height: 1px;
    overflow: hidden;
    width: 86px;
    background: #007bc4;
    line-height: 1px;
}

.CoreBusinesstitle em {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #999;
    padding-top: 10px;
    font-style: normal;
}

.mb30 {
    margin-bottom: 30px;
}